# K Nearest Neighbors

Dataset : [Link](https://archive.ics.uci.edu/ml/datasets.php)

In [1]:
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
df = pd.read_csv('breast-cancer-wisconsin.csv')
df.replace('?', -99999, inplace=True) # Replace missing data and treat it as an outlier
df.head()

,id,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [3]:
df.drop(['id'], 1, inplace=True) # Remove the id column

In [4]:
X = np.array(df.drop(['class'], 1))
y = np.array(df['class'])

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [11]:
classifier = neighbors.KNeighborsClassifier()
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [12]:
accuracy = classifier.score(X_test, y_test)
accuracy

1.0